.footerSection {
  background-color: #0e1e29;
  color: #fff;
  min-height: 100%;
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.footerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 1rem;
  width: 100%;
}

.firstCol > * + * {
  margin-top: 1rem;
}

.secondContent > * + * {
  margin-top: 1rem;
}

.thirdCol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  align-items: center;
}
